extends layout

block content

   h1="Output"
   h2="Original"
   p(id="op" class='header') !{original}

   h2="Extreme-makeover essay edition result"
   p(id='pp' class='header') !{output}

   h2="Stats"
   p(class="header") Original length: !{originalCount} characters. Better length: !{finalCount} characters.<br />!{(finalCount - originalCount)/originalCount * 100}% more sophisticated.

   //img(src="images/sophisticated.gif" class="img-rounded")

   div(class="span7 text-center")
      button(value="Select Text" class="btn btn-default" id="sel") Select Text
      form(action='/' method='get')
         input(type="submit" value="Make more essays gooder!" class="btn btn-default")

   script(src='js/jquery.lettering-0.6.1.min.js')
   script(src='js/bestJavascriptFile.js')




