extends layout

block content
   script(type="text/javascript").
      var local_data = '!{output}'

   h1="Output"
   h2="Original"
   p(id="op") !{original}

   h2="Extreme-makeover essay edition result"
   p(id= 'pp') !{test}

   button(value="Select Text" class="btn btn-default" id="sel") Select Text

   form(action='/' method='get')
      input(type="submit" value="Make more essays better!" class="btn btn-default")
   script(src='js/bestJavascriptFile.js')

